.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


table, th, td {
  border: 1px solid black;
}

.tableFixHead {
  width:90%;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: auto;
  align-self: center;
  margin: auto;
}


  /* .tableFixHead tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 500px;
/* } */
th,
td {
  padding: 10px 10px;
  width: 200px;
  height: 20px;
}
th {
  background: #91a4f7;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  z-index: 2;
} 
table {
  display: block;
  min-height: 100px;
  max-height: 500px;
  overflow-y: scroll;
}

.db-table{
  margin: 5%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  text-align: center;
}

.country-select{
  /* display:flex; */
  margin: 10%;
  min-width: 120%;
  max-width: 150%;
}


.tables-container {
  display: flex;
  justify-content: center;
}

.table-wrapper {
  margin-right: 20px;
}

.table-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.table-buttons-center {
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}


button {
  padding: 8px 16px;
}

.report-table{
  height: 200px;
}

.report-div {
  display:flex;
  width: 90%;
  height: 500px;
  margin: 10%;
  overflow: auto;
}

.modalTitle {
  position: sticky;
  top: 0;
  background: #f5f5f5; /* replace with your desired background color */
  padding: 16px; /* adjust padding as needed */
  /* other styles for the title */
}