.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.table {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: none;
  width: 100vw;
  height: 100vh;
}
.head {
  display: flex;
  flex: 0 0 auto;
  height: 46px;
  color: black;
  border-bottom: 1px solid #ccc;
  padding: 0 5px;
  font-size: 12px;
}
.head_row {
  display: flex;
  flex: 1 1 auto;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
}
.head_row_item {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-x: auto;
  padding: 0 5px;
}
.body_row {
  display: flex;
  flex: 0 0 auto;
  border-bottom: 1px solid #eee;
}
.body_row_item {
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */

table, th, td {
  border: 1px solid black;
}

.tableFixHead {
  width:90%;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: auto;
  align-self: center;
  margin: auto;
}


  /* .tableFixHead tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 500px;
/* } */
th,
td {
  padding: 10px 10px;
  width: 200px;
  height: 20px;
}
th {
  background: #ABDD93;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
} 
table {
  display: block;
  height: 500px;
  overflow-y: scroll;
}